@font-face {
    font-family: montserrat;
    src: url(assets/Montserrat.ttf);
}

@font-face {
    font-family: bebasneue;
    src: url(assets/BebasNeue.ttf);
}

:root {
    --red: #D2483D;
    --gray: #F3F3F3;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: montserrat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: bebasneue;
}

body {
    overflow-x: hidden;

}

#navbar {
    display: flex;
    padding: 15px;
    margin-bottom: 5%;
}

#navbar div {
    display: flex;
    margin-left: 10px;
    width: 100%;
    justify-content: space-between;
}

#navbar button {
    font-family: bebasneue;
    font-size: 24px;
    font-weight: 400;
    background: transparent;
    border: none;
    width: 100%;
    border-radius: 5px;
}

#navbar button:hover {
    text-decoration: underline 5 px solid var(--red);
}

#banner {
    background: var(--red);
    height: 200px;
    font-family: montserrat;
    color: white;
    text-align: center;
}

#banner h4 {
    position: relative;
    top: 25%;
    font-size: 16px;
    font-family: montserrat;
}

#banner button {
    background-color: black;
    font-family: bebasneue;
    color: white;
    font-size: 20px;
    width: 256px;
    height: 48px;
    border: none;
    position: relative;
    top: 40%;
    transition: .5s scale;
}

#banner button:hover {
    cursor: pointer;
    scale: 1.1;
}

h2 {
    text-align: center;
    padding-top: 50px;
    font-family: bebasneue;
    font-size: 40px;
    font-weight: 400;
}

.center {
    text-align: center;
    padding-block: 20px;
}

span {
    font-weight: 700;
}

h4 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    text-decoration: underline 3px solid #D2483D;
}

#contactp {
    width: 60%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

form {
    padding-inline: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
}

form>div {
    padding-top: 30px;
    padding-bottom: 30px;
}

form p {
    font-family: bebasneue;
    font-weight: 400;
    font-size: 24px;
}

form input {
    width: 100%;
    border: 1px solid #00000088;
    height: 47px;
}

form input[type="text"] {
    height: 150px;
}

form>button {
    background-color: black;
    font-family: bebasneue;
    color: white;
    font-size: 24px;
    width: 100%;
    height: 48px;
    border: none;
    position: relative;
    top: 40%;
    left: 50%;
    font-weight: 400;
    transform: translateX(-50%);
}

footer {
    background-color: black;
    height: 200px;
}

footer div {
    width: 50%;
    /* border: 1pt solid red; */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    display: flex;
}

footer button {
    background-color: black;
    color: white;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 50px;
}

.pconly {
    display: none;
}

/* COMPUTER */
@media screen and (min-width: 1250px) {
    h4 {
        margin: 0;
    }

    #navbar div {
        width: 20%;
    }

    #navbar {
        margin-bottom: 0%;
    }

    #banner {
        width: 100%;
    }

    #centeronphone {
        width: 50%;
        float: left;
    }

    .pconly {
        display: block;
        width: 50%;
        float: left;
        position: relative;
        padding-bottom: 50px;
    }

    .pconly img:not(#map) {
        z-index: 1;
        position: absolute;
        top: 15.5%;
        left: 75.5%;
    }

    form {
        display: grid;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        grid-template-columns: 2fr 2fr;
        gap: 0px 60px;
        width: 80%;
    }

    form div:nth-child(3) {
        grid-column: 1/3;
    }

    form button {
        grid-column: 1/3;
        width: 50%;
    }

    footer div {
        width: 20%;
        left: 90%
    }


}